/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Slideshow container */
.carousel-container {
    position: relative;
    margin: 0 auto;
    background-color: antiquewhite;
  }

img {
    width: 100vh;
    height: 60vh;
    margin: 0 auto;
    object-fit: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    display: none;
}

  
  /* Add show class to display images */
  .show {
    display: block;
  }
  
  /* Next and previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 28%;
    color: red;
    font-weight: bold;
    font-size: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 50%;
    background-color: aliceblue;
  }

   /* Position next button to the right */
  .next {
    left: 70%;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,1);
  }